---
title: HUDDLE
description: Yet Another Tailwind Alpine Starter Project for 11ty!
layout: layouts/base.njk
---
{% include "header.njk" %}

<main class="container mx-auto flex-1 flex items-center">

  <div class="md:flex py-8 px-4 md:px-0 gap-16">
    <div class="w-full md:-ml-32 xl:ml-0">
      {% include "svg/illustration.njk" %}
    </div>

    <div class="js-content w-full pt-16 text-center md:text-left">
      <h1 class="capitalize font-headings text-6xl font-bold  text-white">Build the community your fans will love</h1>
      <p class="text-white/80 my-8 text-xl md:pr-16">Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.</p>
      <a class="rounded-full bg-white py-4 px-16 inline-flex drop-shadow-2xl text-violet font-bold duration-300 hover:bg-magenta hover:text-white hover:shadow-2xl hover:-translate-y-1 " href="/">Register</a>
    </div>
  </div>

</main>

{% include "footer.njk" %}